<%- include('partials/header') %>
  
<main class="main-container">
  <h1>
    <% 
      if (!locals.pokedex) { 
    %>
      Pokemons
      <%= locals.type?.name %>
    <% 
      } else {
    %>
      Pokedex
      <% if (nbPokedex) { %>
        <em><%= nbPokedex %> Pokemons ajoutés</em>
      <% } %>
    <% 
      }
    %>
  </h1>
  <div class="pokemons">
    <% 
      if (pokemons.length){
        for (const pokemon of pokemons) { 
      %>
        <a class="pokemon-link" href="/pokemon/<%= pokemon.id %>">
          <div class="pokemon" style="background-color:#<%= locals.type?.color %>">
              <img src="/img/<%= pokemon.id %>.png" alt="<%= pokemon.nom %>" />
              <p><%= pokemon.nom %> #<%= pokemon.id %></p>
          </div>
        </a>
    <% 
        }
      } else {
    %>
    <p>Aucun Pokemon à afficher</p>
    <%
      }
    %>
  </div>
</main>

<%- include('partials/footer') %>